<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/jy/favicon.ico">
    <title>静静的资源</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="/jy/vant/index.css">
    <link rel="stylesheet" href="/jy/element/index.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="head" v-cloak>
    <!-- 头部导航栏-->
    <van-nav-bar
            title="导航"
            left-text="显示方式"
            right-text="添加"
            @click-left="onClickLeft"
            @click-right="onClickRight"
    />
</div>
<div id="select">
    <van-action-sheet v-model="showSelect" :actions="actions" @select="onSelect" safe-area-inset-bottom="true"/>
</div>
<div id="add">
    <van-popup
            v-model="showAdd"
            position="bottom"
            overlay
            round
            :style="{ height: '35%' }" safe-area-inset-bottom="true" get-container="#add">
        <div style="margin-top: 20px;width: 80%;">
            <el-form ref="form" :model="sizeForm" :rules="rules" label-width="100px">
                <el-form-item label="网址名称" prop="name">
                    <el-input v-model="sizeForm.name"></el-input>
                </el-form-item>
                <el-form-item label="网址" prop="link">
                    <el-input v-model="sizeForm.link"></el-input>
                </el-form-item>
                <el-form-item label="网址类型" porp="type">
                    <el-select v-model="sizeForm.type" placeholder="请选择网址类型">
                        <el-option label="影视" value="vedio"></el-option>
                        <el-option label="音乐" value="music"></el-option>
                        <el-option label="书籍" value="ebup"></el-option>
                        <el-option label="工具" value="tools"></el-option>

                    </el-select>
                </el-form-item>
                <el-form-item label="网址简介" porp="desc">
                    <el-input type="textarea" v-model="sizeForm.desc"></el-input>
                </el-form-item>


                <el-form-item size="large">
                    <el-button type="primary" @click="submitForm('sizeForm')">立即创建</el-button>
                    <el-button type="primary" @click="resetForm()">清空</el-button>
                </el-form-item>
            </el-form>
        </div>
    </van-popup>

</div>
<div id="body">

    <van-cell-group v-for="item in vedio" v-show="vedio_">
        <van-cell   :label="item.linkDescribe" is-link :url="item.linkAddres">
            <!-- 使用 title 插槽来自定义标题 -->
            <template #title>
                <span class="custom-title"> {{ item.linkName }} </span>
                <van-tag type="danger">影视</van-tag>
            </template>
        </van-cell>
    </van-cell-group>

    <van-cell-group v-for="item in music" v-show="music_">
        <van-cell   :label="item.linkDescribe" is-link :url="item.linkAddres">
            <!-- 使用 title 插槽来自定义标题 -->
            <template #title>
                <span class="custom-title"> {{ item.linkName }} </span>
                <van-tag type="danger">音乐</van-tag>
            </template>
        </van-cell>
    </van-cell-group>

    <van-cell-group v-for="item in epub" v-show="epub_">
        <van-cell   :label="item.linkDescribe" is-link :url="item.linkAddres">
            <!-- 使用 title 插槽来自定义标题 -->
            <template #title>
                <span class="custom-title"> {{ item.linkName }} </span>
                <van-tag type="danger">书籍</van-tag>
            </template>
        </van-cell>
    </van-cell-group>

    <van-cell-group v-for="item in tools" v-show="tools_">
        <van-cell   :label="item.linkDescribe" is-link :url="item.linkAddres">
            <!-- 使用 title 插槽来自定义标题 -->
            <template #title>
                <span class="custom-title"> {{ item.linkName }} </span>
                <van-tag type="danger">工具</van-tag>
            </template>
        </van-cell>
    </van-cell-group>


</div>

<!-- import Vue before Element -->
<script src="/jy/vue/vue.min.js"></script>
<script src="/jy/vue/axios.min.js"></script>
<!-- import JavaScript -->
<script src="/jy/vant/vant.min.js"></script>
<script src="/jy/element/index.js"></script>

<script>
    const head_vm = new Vue({
        el: '#head',
        methods: {
            onClickRight() {
                add_vm.showAdd = true;
            },
            onClickLeft() {
                select_vm.showSelect = true;
            }
        }
    });

    const select_vm = new Vue({
        el: '#select',
        data: function () {
            return {
                actions: [
                    {name: '所有', value: 'all'},
                    {name: '影视', value: 'vedio'},
                    {name: '音乐', value: 'music'},
                    {name: '书籍', value: 'epub'},
                    {name: '工具', value: 'tools'}
                ],
                showSelect: false

            }
        },
        methods: {
            onSelect(item) {
                // 默认情况下点击选项时不会自动收起
                // 可以通过 close-on-click-action 属性开启自动收起
                select_vm.showSelect = false;

                body_vm.$options.methods.showType(item.value);
            }
        }

    });

    const add_vm = new Vue({
        el: '#add',
        data: function () {
            return {
                showAdd: false,
                sizeForm: {
                    name: '',
                    link: '',
                    type: [],
                    desc: ''
                },
                rules: {
                    name: [
                        {required: true, message: '请输入网址名称', trigger: 'blur'}
                    ],
                    link: [
                        {required: true, message: '请输入网址', trigger: 'blur'}
                    ],
                    type: [
                        {required: true, message: '请选择网址类型', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            submitForm() {
                if (add_vm.sizeForm.name == '' || add_vm.sizeForm.name.length == 0) {
                    vant.Notify({type: 'danger', message: '信息未填写完整！'});

                    return;
                }

                if (add_vm.sizeForm.link == '' || add_vm.sizeForm.link.length == 0) {
                    vant.Notify({type: 'danger', message: '信息未填写完整！'});
                    return;
                }

                if (add_vm.sizeForm.type == '' || add_vm.sizeForm.type.length == 0) {
                    vant.Notify({type: 'danger', message: '信息未填写完整！'});
                    return;
                }
                let params = new URLSearchParams();
                params.append('name', add_vm.sizeForm.name);
                params.append('link', add_vm.sizeForm.link);
                params.append('type', add_vm.sizeForm.type);
                params.append('desc', add_vm.sizeForm.desc);
                axios.post('/jy/wt/addResource.json', params).then(function (res) {
                    add_vm.showAdd = false;
                    vant.Notify({
                        message: res.data.message,
                        color: '#ad0000',
                        background: '#ffe1e1'
                    });
                    res.data.status == 200 ? add_vm.$options.methods.resetForm() : null;
                },
                function(res){
                    vant.Notify({
                        message: '新增失败!',
                        color: '#ad0000',
                        background: '#ffe1e1'
                    });
                }
                );

            },
            resetForm() {
                add_vm.sizeForm.name = '';
                add_vm.sizeForm.link = '';
                add_vm.sizeForm.type = [];
                add_vm.sizeForm.desc = '';

            }
        }

    });
    const body_vm = new Vue({
        el: '#body',
        data: function(){
            return {
                vedio: [],
                music: [],
                epub: [],
                tools: [],
                vedio_: true,
                music_: true,
                epub_: true,
                tools_: true

            }
        },
        created: function(){
            axios.get('/jy/wt/getResource.json').then(function(res){
                body_vm.vedio = res.data.vedio;
                body_vm.music = res.data.music;
                body_vm.epub = res.data.epub;
                body_vm.tools = res.data.tools;

            });


        },
        methods:{
            showType:function(type){
                if(type == 'all'){
                    body_vm.vedio_= true;
                    body_vm.music_= true;
                    body_vm.epub_= true;
                    body_vm.tools_= true;
                }

                if(type == 'vedio'){
                    body_vm.vedio_= true;
                    body_vm.music_= false;
                    body_vm.epub_= false;
                    body_vm.tools_= false;
                }

                if(type == 'music'){
                    body_vm.vedio_= false;
                    body_vm.music_= true;
                    body_vm.epub_= false;
                    body_vm.tools_= false;
                }

                if(type == 'epub'){
                    body_vm.vedio_= false;
                    body_vm.music_= false;
                    body_vm.epub_= true;
                    body_vm.tools_= false;
                }

                if(type == 'tools'){
                    body_vm.vedio_= false;
                    body_vm.music_= false;
                    body_vm.epub_= false;
                    body_vm.tools_= true;
                }

            }
        }
    });
</script>
</body>
</html>