<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/layui/css/layui.css" media="all">



</head>
<body>
<blockquote class="layui-elem-quote layui-text">
    影视
</blockquote>
<ul class="layui-timeline" id="vedio">

</ul>
<blockquote class="layui-elem-quote layui-text">
    音乐
</blockquote>
<ul class="layui-timeline" id="music">

</ul>
<blockquote class="layui-elem-quote layui-text">
    读书（学习）
</blockquote>
<ul class="layui-timeline" id="epub">

</ul>

<blockquote class="layui-elem-quote layui-text">
    工具
</blockquote>
<ul class="layui-timeline" id="tools">

</ul>

<script src="/Stalled/js/jquery-2.2.3.min.js"></script>
<script src="/layui/layui.all.js" charset="utf-8"></script>
<script src="/js/resource.js" charset="utf-8"></script>


</body>
</html>