<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>橘右</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/Stalled/js/jquery-2.2.3.min.js"></script>
</head>
<body>

<script src="/layui/layui.all.js"></script>
<script>
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
    ;!function () {
        var layer = layui.layer
            , form = layui.form;

        layer.msg('不好意思400！');

        layer.msg('不好意思404');
        setTimeout(loca,2000);


    }();
    function loca(){
        window.location.href = "/";

    }
</script>
</body>
</html>