<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>简语</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/Stalled/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/Stalled/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/Stalled/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <script src="../static/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/css/core.css">
    <!-- //Fonts -->

</head>

<body>
    <!-- mian-content -->
    <section class="main-content" id="home">
        <div class="layer">
            <!--/Top-Header-->
            <div class="top-bar-w3layouts pt-4">
                <div class="container-fluid px-lg-5">
                    <div class="row">
                        <div class="offset-xl-6">

                        </div>
                        <div class="col-xl-6 top-social-agile text-md-right text-center mt-md-0 mt-2">
                            <div class="row right-top-info">
                                <div class="col-md-6 header-top_w3layouts text-xl-right text-center">
                                    <p class="mr-2">
                                        QQ: 1922802352
                                    </p>
                                    <p>
                                        微信: liyang9364
                                    </p>
                                </div>
                                <!-- social icons -->

                                 <ul class="col-md-6 top-right-info text-md-right text-center">
                                    <li>
                                        <p style="color: deepskyblue">进入简语 :</p>
                                    </li>
                                    <li class="ml-3 mr-1">
                                        <a href="jy/index.html">
											<img src="/ico/main.png" class=".ico"/>
                                        </a>
                                    </li>

                                </ul>


                                <!-- //social icons -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//Top-Header-->
            <!-- header -->
            <header class="header">
                <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4">
                        <div id="logo">
                            <h1> <a href="index.html"> 简语</a></h1>
                        </div>

                        <label for="drop" class="toggle">菜单</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mt-2">
                            <li class="mr-lg-4 mr-3 active"><a href="#">Home</a></li>
                            <li class="mr-lg-4 mr-3"><a href="#关于" class="scroll">关于</a></li>
                            <li class="mr-lg-4 mr-3"><a href="#服务" class="scroll">今天</a></li>
                            <li class="mr-lg-4 mr-3"><a href="#hl" class="scroll">画廊</a></li>
                            <li class="mr-lg-4 mr-3"><a href="#contact" class="scroll">关于我</a></li>

                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
            <!-- //header -->
            <!-- banner -->
            <div class="banner-info-wthree">
                <h2>对你生活的憧憬
                </h2>
                <h3>创造你的市场定位
                </h3>
                <a href="#popup1" class="learn-link-bnr1 btn">看更多</a>
                <a href="#关于" class="scroll">
                    <div class="icon-scroll">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                        <div class="icon-arrows">
                            <span></span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- //banner -->
            <!-- popup -->
            <div id="popup1" class="pop-overlay animate">
                <div class="popup">
                    <img src="/Stalled/images/banner.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">我们都不是好演员，<br>
                        我藏不住深情，<br>
                        你演不出喜欢。</p>
                    <a class="close" href="#">&times;</a>
                </div>
            </div>
            <!-- //popup -->

        </div>
    </section>
    <!--// mian-content -->
    <!--/ab -->
    <section class="关于 py-5" id="关于">
        <div class="container">
            <div class="inner-sec-w3ls-pyt py-lg-5 py-3">
                <h3 class="tittle text-center mb-lg-5 mb-3 px-lg-5"><span class="sub-tittle">关于.</span>导言</h3>
                <div class="feature-grids row mt-3 mb-lg-5 mb-3 text-center">
                    <div class="col-lg-4">
                        <div class="bottom-gd px-3">
                            <!-- <span class="fa fa-building-o" aria-hidden="true"></span>-->

                            <h3 class="my-4">嘿</h3>
                            <p>嘿,今天你是什么状态？</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bottom-gd2-active px-3">
                            <!--  <span class="fa fa-cogs" aria-hidden="true"></span>-->

                            <h3 class="my-4">瞬变</h3>
                            <p>现在你的心情是如何的。</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bottom-gd px-3">
                            <!--  <span class="fa fa-cogs" aria-hidden="true"></span>-->

                            <h3 class="my-4">扎心毒汤</h3>
                            <p>唉，看来今天又是丧气满满的一天。</p>
                        </div>
                    </div>

                </div>
                <!-- 服务 -->
                <div class="fetured-info pt-lg-5" id="服务">
                    <h3 class="tittle  text-center my-lg-5 my-3"><span class="sub-tittle">我们的</span> *****</h3>
                    <div class="row fetured-sec mt-lg-5 mt-3">
                        <div class="col-lg-6 p-0">
                            <div class="img-effect">
                                <img src="/Stalled/images/1.jpg" alt="" class="img-fluid image1">
                            </div>

                        </div>
                        <div class="col-lg-6 serv_bottom feature-grids">
                            <div class="featured-left text-left">
                                <div class="bottom-gd px-3">
                                    <img src="/ico/bookmark.png" height="32" width="32"/>
                                    <h3 class="my-4">
                                        今天好像空空的唉！</h3>
                                    <p>你的脑袋也是空空的。</p>
                                </div>
                                <div class="bottom-gd fea active p-4">
                                    <img src="/ico/bookmark.png" height="32" width="32"/>
                                    <h3 class="my-3">爸妈从小告诉我们  你要努力</h3>
                                    <p>而我想对你说  你要开心。</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- //服务 -->
        </div>
    </section>
    <!-- //ab -->



    <!--//team -->

      <section class="画廊 py-5" id="hl">
        <div class="container py-lg-5">
            <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle two">最新消息</span> Our 画廊</h3>
            <div class="row 新闻-grids pb-lg-5 mt-3 text-center">
                <div class="col-md-4 gal-img">
                    <a href="#gal1"><img src="/Stalled/images/2.jpg" alt="新闻 image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal2"><img src="/Stalled/images/9.jpg" alt="新闻 image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal3"><img src="/Stalled/images/4.jpg" alt="新闻 image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img mt-lg-4">
                    <a href="#gal9"><img src="/Stalled/images/10.jpg" alt="新闻 image" class="img-fluid"></a>
                </div>
                           </div>
        </div>
    </section>
    <!-- popup-->
    <div id="gal1" class="pop-overlay animate">
        <div class="popup">
            <img src="/Stalled/images/2.jpg" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">我们都不是好演员，<br>
                我藏不住深情，<br>
                你演不出喜欢。</p>
            <a class="close" href="#画廊">&times;</a>
        </div>
    </div>
    <!-- //popup -->

    <!-- popup-->
    <div id="gal2" class="pop-overlay animate">
        <div class="popup">
            <img src="/Stalled/images/9.jpg" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">愿你所有的噩梦，<br>
                都能心想事成。</p>
            <a class="close" href="#画廊">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal3" class="pop-overlay animate">
        <div class="popup">
            <img src="/Stalled/images/4.jpg" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">所谓顺其自然，<br>
                其实就是无能为力。</p>
            <a class="close" href="#画廊">&times;</a>
        </div>
    </div>
    <!-- //popup3 -->
    <!-- popup-->
    <div id="gal9" class="pop-overlay animate">
        <div class="popup">
            <img src="/Stalled/images/10.jpg" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">不知道怎么回事，<br>就是爱你。</p>
            <a class="close" href="#新闻">&times;</a>
        </div>
    <!-- //popup -->

    </div>

    <!--//team -->
    <!-- 接触 -->
    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container py-lg-5">
            <h3 class="tittle two text-center"><span class="sub-tittle">关于我</span> </h3>
            <div class="text-center">
                <p class="main_p4 mt-4 mb-4 pt-2 text-center mx-auto">如果有一天,你前女友结婚了。一定要告诉我。我帮你吃回本。</p>
            </div>
            <div class="row contact-top">
                <!--QQ图片-->
                <div class="col-lg-6 contact_grid_left">
                    <img src="/Stalled/images/QQ.JPG" alt="Popup Image" class="img-fluid" />
                </div>
                <!--微信图片-->
                <div class="col-lg-6 contact_grid_right">
                    <img src="/Stalled/images/wx.jpg" alt="Popup Image" class="img-fluid" />
                </div>
            </div>
            <div class="cpy-right-w3layouts-pvt text-center py-5">

                <p class="mb-3">Copyright &copy; 2019.Company name  李杨
                </p>
                <!--<a href="#home" class="move-top scroll">上滑</a>-->
            </div>
        </div>
    </section>
</body>

</html>
