<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.mapper.dictMapper">

    <resultMap id="BaseResultMap" type="com.jy.entity.dict">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="key" jdbcType="VARCHAR" property="key" />
        <result column="value" jdbcType="INTEGER" property="value" />

    </resultMap>

<select id="queryDictByKey" resultMap="BaseResultMap" parameterType="java.lang.String">

    SELECT * FROM dict where `key`= #{type}
</select>
    <insert id="insertNames" parameterType="java.lang.String">

        INSERT INTO dict ( `key`, `value`) VALUES ('names', #{value});
    </insert>

    <insert id="insertLinkType" parameterType="java.lang.String">

        INSERT INTO dict ( `key`, `value`) VALUES ('linkType', #{value});
    </insert>
<delete id="deleteDictById" parameterType="int">
    DELETE FROM dict where `id` = #{id}
</delete>
</mapper>
