<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.mapper.userMapper">

    <resultMap id="BaseResultMap" type="com.jy.entity.user">
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="createdtime" jdbcType="TIMESTAMP" property="createdtime" />
        <result column="srenname" jdbcType="VARCHAR" property="srenname" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="userType" jdbcType="INTEGER" property="userType" />
        <result column="QQ" jdbcType="VARCHAR" property="QQ" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    </resultMap>



    <select id="queryUserByNameAndPasswd" parameterType="com.jy.entity.user" resultMap="BaseResultMap">
    select * from user where username = #{username} and password = #{password}

</select>
    <select id="queryUserAll" parameterType="com.jy.entity.user" resultMap="BaseResultMap">
        select * from user where 1=1
        <if test="userid != null">
            userid = #{userid}
        </if>
        <if test="username != null">
            username = #{username}
        </if>
        <if test="srenname != null">
            srenname = #{srenname}
        </if>
        <if test="age != null">
            age = #{age}
        </if>
        <if test="address != null">
            address = #{address}
        </if>
        <if test="userType != null">
            userType = #{userType}
        </if>
        <if test="QQ != null">
            QQ = #{QQ}
        </if>
        <!--
     <if test="birthday != null">
       birthday = #{userid}
   </if>
        -->
        order by userid asc
        limit #{page} ,#{limit}

    </select>

</mapper>
